
.search{

border-color:red;
border:NONE;
width:320px;
height:35px;
font-size:25px;
border-radius:12px;

}
.search:hover{
    border-color:red;
    border:none;
width:320px;
height:35px;
font-size:25px;
border-radius:12px;


}
.search:active{
 border:none;
width:320px;
height:35px;
font-size:25px;
border-radius:12px;


}
.google{
    margin-top:180px;
text-align:center;
font-weight:bold;
color:blue;
font-size:60px;
}

.happy{
text-align:center;
font-weight:bold;
border-radius:7px;
margin-top:20px;
margin-right:12px;
font-size:15px;
padding-left:4px;
padding-right: 4px;
border:NONE;
background-color:#303134;

color:white;
}
.red{
    font-weight:bold;
    border-radius:7px;
margin-top:20px;
margin-right:12px;
font-size:15px;
border:NONE;

}
.body{
background-color:gray;  
}


